:root{
  --primary-color: #dce3ea;
  --primary-shadow: 5px 5px 10px #a5aab0, -5px -5px 10px #ffffff;
}

/* for global use */
body{
  border-radius: 50px;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-blue{
  color: #3498db;
}

.text-justify{
  text-align: justify;
}